@import "../../css/colors.css";

.screen-record-button {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
}

.screen-record-button:hover {
    background-color: $looks-light-transparent;
}

.screen-record-button.is-active {
    background-color: $looks-transparent;
}